# docker-compose.yml
version: '3.9'
services:
  db:
    image: postgres:15
    container_name: postgresql
    restart: always
    env_file:
      - .env
    ports:
      - '5432:5432'
    volumes:
      - ./volumes/postgres_data:/var/lib/postgresql/data
    networks:
      - n8n_network

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    env_file:
      - .env
    ports:
      - '5678:5678'
    volumes:
      - ./volumes/n8n_data:/home/node/.n8n
    networks:
      - n8n_network
    depends_on:
      - db

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    ports:
      - '11434:11434'
    environment:
      - OLLAMA_GPU_LAYERS=20
      - OLLAMA_NUM_PARALLEL=4
    volumes:
      - ./volumes/ollama_data:/root/.ollama
    networks:
      - n8n_network
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - '6333:6333'
      - '6334:6334'
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - n8n_network

volumes:
  qdrant_data:

networks:
  n8n_network:
